# Dependências e pasta de build
node_modules
.next
out

# Arquivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos locais de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos temporários
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diretório de cache
.cache
.turbo

# Diretório de testes
coverage
__tests__

# Outros arquivos desnecessários para a build
README.md
*.md
.git
.github
Dockerfile
.dockerignore
docker-compose* 